/* ==================================================================== 
Base Element Styles
=======================================================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', Arial, sans-serif;
    color: #777;
}

a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    color: #d8faf0;
    padding: 30px 0;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

h3 {
    text-align: center;
    padding: 15px 0;
}

p {
    padding: 10px 0;
    line-height: 1.5em;
}

hr {
   border: 1px solid #e6e6e6;
}

/* ==================================================================== 
Base Layout Styles
=======================================================================*/

/* Layout Header ------------------------------------------------------*/
.nav-container,
.banner-container {
    padding-bottom: 50px;
}

/* Layout Navigation --------------------------------------------------*/
nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav a {
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    float: right;
}

footer li {
    display: inline-block;
    margin-left: 20px;
}

.footer-name {
    color: #4a4a4a;
    font-weight: 800;
    float: left;
}

.footer-link {
    color: #4a4a4a;
    font-weight: 800;
}

/* For displaying and hiding footer links */
.mobile {
    display: inline-block;
}

.not-mobile {
    display: none;
}
/* --------------------------------------- */


/* Layout Containers -------------------------------------------------*/
header,
main,
footer {
    padding: 0 15px;
    text-align: center;
}

header,
footer {
    /* background-color:rgb(123, 198, 211); */
    background: rgb(188,223,222);
    background: radial-gradient(circle, rgba(188,223,222,1) 0%, rgba(147,197,196,1) 100%);
}

.contact-container, 
.footer-links-container {
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer-links-container {
    border-top: 1px solid #cae7de;
}


/* Page Elements ------------------------------*/
.profile-pic {
    max-width: 70%;
    margin-bottom: 20px;
}

header p,
footer p {
    color: rgb(90, 121, 113);
}

.feat-img {
    max-width: 100%;
}

.feat-text {
    padding-bottom: 50px;
}

.contact-container a {
    text-transform: lowercase;
}

.contact-label {
    margin-right: 20px;
}

.contact-info {
    color: #72807c;
    font-weight: 800;
}

/* Clearfix ----------------------------------*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* ==================================================================== 
Media Queries
=======================================================================*/
@media (min-width: 768px) {
    header,
    main,
    footer {
        padding: 0 30px;
    }

    a:hover {
        color: #d8faf0;
    }

    nav li {
        margin: 0 20px;
    }

    nav a {
        padding: 0;
    }
    
    nav a,
    nav li {
        display: inline-block;
        background-color: inherit;
    }
    
    .banner-container p {
        text-align: left;
        padding-left: 10px;

    }
    
    .profile-pic {
        max-width: 40%;
        float: right;
        padding-left: 15px;
        padding-right: 10px;
    }
    
    p {
        font-size: 1.3rem;
    }

    .feat-container {
        max-width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile {
        display: none;
    }

    .not-mobile {
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    .nav-container,
    .banner-container,
    main,
    .footer-links-container {
        max-width: 90%;
        margin: auto;
    }

    .nav-container h1{
        float: left;
    }
    
    nav {
        float: right;
        padding-top: 45px;
    }

    nav li {
        margin: 0 0 0 30px;
    }

    .feat-container {
        max-width: 33%;
    }

    .feat-text {
        min-height: 200px;
    }

    .contact-container {
        max-width: 50%;
        margin: auto;
    }
}