/* Google fonts import --------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;800&display=swap');

/* ==================================================================== 
Base Element Styles
=======================================================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', Arial, sans-serif;
    color: #777;
}

header a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 800;
}

h1 {
    color: #4a4a4a;
    padding: 30px 0;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

h3 {
    text-align: center;
    padding: 15px 0;
}

p {
    padding: 10px 0;
    line-height: 1.5em;
}

hr {
   border: 1px solid #e6e6e6;
}

footer a {
    text-decoration: none;
}

/* ==================================================================== 
Base Layout Styles
=======================================================================*/

/* Layout Header ------------------------------------------------------*/
.nav-container,
.banner-container {
    padding-bottom: 50px;
}

/* Layout Navigation --------------------------------------------------*/
nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav a {
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    float: right;
}

footer li {
    display: inline-block;
    margin-left: 20px;
}

.footer-name {
    color: #4a4a4a;
    font-weight: 800;
    float: left;
}

.footer-link {
    color: #4a4a4a;
    font-weight: 800;
    text-transform: uppercase;
}

/* For displaying and hiding footer links */
.mobile {
    display: inline-block;
}

.not-mobile {
    display: none;
}
/* --------------------------------------- */


/* Layout Containers -------------------------------------------------*/
header,
main,
footer {
    padding: 0 15px;
    text-align: center;
}

header,
footer {
    background-color:#fafafa;
}

.feat-container {
   
}

.contact-container, 
.footer-links-container {
    padding-top: 20px;
    padding-bottom: 40px;
}


/* Page Elements ------------------------------*/
.profile-pic {
    max-width: 70%;
    margin-bottom: 20px;
}

.feat-img {
    max-width: 100%;
}

.feat-text {
    padding-bottom: 50px;
}

.contact-label {
    margin-right: 20px;
}

.contact-info {
    color: #8b8b8b;
    font-weight: 800;
}

/* Clearfix ----------------------------------*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* ==================================================================== 
Media Queries
=======================================================================*/
@media (min-width: 768px) {
    header,
    main,
    footer {
        padding: 0 30px;
    }
    
    .banner-container p {
        text-align: left;
        padding-left: 10px;

    }
    
    .profile-pic {
        max-width: 40%;
        float: right;
        padding-left: 15px;
        padding-right: 10px;
    }

    nav a,
    nav li {
        display: inline-block;
        background-color:#fafafa;
    }
    
    p {
        font-size: 1.3rem;
    }

    .feat-container {
        max-width: 50%;
        float: right;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile {
        display: none;
    }

    .not-mobile {
        display: inline-block;
    }
}